.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 610px;
    margin: 0 auto;
}
body {
    font-family: 'Roboto', arial, sans-serif;

}
#nav-bar{
    position: fixed;
    top: 0;
    width: 100%;
    font-size: small;
}
.header{ 
 
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;

}
.header_item{
    float:left; 
    padding:5px;
}
.sign-in{
    float:right;
    border-style: none;
    border-radius: 3px;
    background-color: #4387fd;
    text-align: center;
    padding:5px;
}
.sign-in-link{
    color:white;
    text-align:center;
    padding: 10px;
    text-decoration:none;
    font-weight:bold
}
.header_link{
    color:black;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
}
.header_link:hover{
    color: gray;
    text-decoration: underline;
}
.footer{
    margin: 0;
    list-style-type: none;
    background-color: #f2f2f2;
    border-style: solid;
    border-width: 1px;
    border-color:#e4e4e4;
    position: fixed;
    bottom: 0;
    width: 97%;
}
.footer_item{
    float:left; 
    padding:10px 10px;
}
.footer_link{
    color:#5f6368;
    text-decoration: none;
    font-size: 14px;
}
.footer_link:hover{
    text-decoration: underline;
}
button{
    margin: 10px;
    padding: 10px 12px;
    color:#5F6368;
    border-style: none;
    border-radius: 3px;
}
button:hover{
    border-style:solid;
    border-width:2px;
    border-color:#dfe1e5;
}
.search{
    margin-left : 25%;
}
.lucky{
    margin-left: -3px
}
#logo{
    padding: 10px 10px 10px 10px;
}
#search-bar{
    padding: 20px;  
}
input {
    border-radius: 20px;
    border-width: 1px;
    border-color: #dfe1e5;
    padding: 10px
    
}
