.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0 auto;
}
body {
    font-family: 'Roboto', arial, sans-serif;

}
#nav-bar{
    position: fixed;
    top: 0;
    width: 100%;
    font-size: small;
}
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: small;
}
.header{ 
 
    list-style-type: none;
    margin: 0;
    margin-left: 85%;
    padding: 20px;
    overflow: hidden;
}
.header_item{
    display: inline;
 
}
.header_link{
    color:black;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
}
.header_link:hover{
    color: gray;
    text-decoration: underline;
}
.footer{
    margin: 0;
    padding: 20px;
    overflow: hidden;
}
#promo{
    display: inline;
    margin-left:42%;
    padding: 20;

}
#customize{
    display: inline;
}

#logo{
    padding: 10px 10px 10px 10px
}
#search-bar{
    padding: 20px 20px 20px 20px  
}
input {
    border-radius: 10px;
    border-width: 1px;
    
}
